body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1;
  image-rendering: -webkit-optimize-contrast;
  background-color: #fff;
  font-family: 'Pretendard', 'Sans-serif';
}
